*{
	font-family: 'Comic Sans MS';
}
body{
	background-image: url("aw.jpg");
	
	background-size: 100%;
}
.box{
	width: 250px;
	padding: 50px;
	margin: 50px auto;
	background-color: white;
	border-radius: 30px;
	
}
.form_login{
	width: 100%;
	padding-bottom: 10px;
	border: none;
	border-bottom: 2px solid #a6a6a6;
}
.pisah{
	padding: 20px;
}
h1{
	text-align-last: center;
	margin-top: 150px; 
}
.warna{
	color: white;
}
.tombol{
	padding: 10px 35px;
	margin: auto 67px;
	margin-top: 40px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	background-color: #ffd633;
}