*{
	font-family: 'Comic Sans MS';
}
body{
	background-image: url("aw.jpg");
	
	background-size: 100%;
}
.table{
	margin-right: auto;
	margin-left: auto;
	padding-top: 150px;
	padding-bottom: 5px;
	position: center;
	
}
.table th{
	background-color: #FFEC9E; 
	border: 1px solid #000;
	padding: 8px 12px;
}
.table td{
	border: 1px solid #000;
	background-color: white;
	padding: 8px 12px;
}
button{
	margin-right: auto;
	margin-left: auto;
	margin: 0 auto;
	padding: 8px 3px;
}
.tombol{
	
	padding-left: 28%;
}
.tombol1{
	padding-left: 38%;
}
.table input[type = 'Submit']{
	width: 100%;
}
.table2{
	
	margin-right: auto;
	margin-left: auto;
	padding-top: 150px;
	padding-bottom: 5px;
	position: center;
	border: none;
}
.table2 td{
	border: none;
	background-color: white;
	padding: 8px 12px;
}
.tombol1{
	
	padding-left: 38%;
}
.table2 input[type = 'Submit']{
	width: 100%;
}
.tombol3{
	padding-left: 37%;
}
.tombol4{
	padding-left: 32%;
}